.body {
	background: #f5f5f5;
}
.container {
	width: 800px;
	margin: 0 auto;
}
.container-support {
	width: 800px;
	margin: 0 auto;
	background: #eeeeef;
}
.container-response {
	width: 800px;
	margin: 0 auto;
	background: #50c3af;
}


/* Styles for block "Header" start*/
.header {
	background: url(../img/bg_head.png) no-repeat top center;
	background-size: auto;
	color: #fff;
	padding-top: 65px;
	padding-bottom: 120px;
	text-align: center;
}
.header__logo {
	margin-bottom: 37px;
	cursor: pointer;
}
.header__navigation {
	margin-bottom: 25px;
}
.header__navigation-items {
	
	text-transform: uppercase;
	margin: 0;
    padding: 0;
}
.header__navigation-item {
	display: inline-block;
	list-style-type: none;
}
.header__navigation-item-name {
	display: block;
	font-family: OpenSans, sans-serif;
	font-size: 13px;
	text-decoration: none;
	margin-bottom: 40px;
	margin-right: 28px;
	color: #fff;

	}
.header__navigation-item-name:hover {
	color: #b0c5c0;
	}
.header__title {
	font-family: UbuntuBold, sans-serif;
	font-size: 53px;
	text-transform: uppercase;
	text-align: center;
	margin-bottom: 30px;
	margin-top: 22px;
	letter-spacing: -0.6px;
}
.header__descriptor {
	font-family: PTSansBold, sans-serif;
	font-size: 15px;
	text-transform: uppercase;
	margin-bottom: 79px;
	letter-spacing: 0.2px;
}
.header__btn {
	font-family: PTSansBold, sans-serif;
	font-size: 15px;
	background: #50c3af;
	padding: 16px 50px;
	border: none;
	display: inline-block;
	cursor: pointer;
	border-radius: 20px;
	color: #fff;
	text-transform: uppercase;

}
/* Styles for block "Header" end*/

/* Styles for block "Features" start*/
.features {
	margin: 55px 1.5% 60px 1.5%;
	clear: both;
}
.features:before {
    content:"";
    display: table;
}
.features:after {
    content:"";
    display: table;
    clear: both;
}

.features__chapter {
	float: left;
    width: 30%;
    margin-right: 3%
}

.features__chapter-title {
	font-family: PTSansBold, sans-serif;
	color:  #40474e;
	font-size: 15px;
	font-weight: 700;
	text-align: center;
	text-transform: uppercase;
}

.features__chapter-descriptor {
	font-family: PTSansRegular, sans-serif;
	color:  #787b80;
	font-size: 14px;
	font-weight: 400;
	font-size: 14px;
	font-weight: 400;
	line-height: 24px;
	text-align: center;
}
.features__chapter-icon {
	margin-left: 100px;
}

/* Styles for block "Features" end*/

/* Styles for block "Works" start*/
/* Left part*/
.works {

}
.works__chapter-left {
	float: left;
}
.works__chapter-left-image {

}
.works__chapter-left-title {
	font-family: PTSansBold, sans-serif;
	color:  #40474e;
	font-size: 18px;
	text-align: right;
}
.works__chapter-left-descriptor {
	font-family: PTSansRegular;
	color:  #787b80;
	font-size: 14px;
	text-align: right;
}
.works__chapter-left-btn {
	font-family: PTSansRegular;
	color:  #f5f5f5;
	font-size: 14px;
	text-align: right;
	border: none;
	display: inline-block;
	cursor: pointer;
	border-radius: 20px;
	background-color:  #50c3af;
}
/* Right part */
.works__chapter-right {
	margin: 0 auto;
}
.works__chapter-right-image {

}
.works__chapter-right-title {
	font-family: PTSansBold, sans-serif;
	color:  #40474e;
	font-size: 18px;
	text-align: right;
}
.works__chapter-right-descriptor {
	font-family: PTSansRegular;
	color:  #787b80;
	font-size: 14px;
	text-align: right;
}
.works__chapter-right-btn {
	font-family: PTSansRegular;
	color:  #f5f5f5;
	font-size: 14px;
	border: none;
	display: inline-block;
	cursor: pointer;
	border-radius: 20px;
	background-color:  #50c3af;
}
/* Styles for block "Works" end*/ 

/* Styles for block "Support" start*/
.container-support {

}
.support__icon {

}
.support__title {
	font-family: PTSansRegular;
	color:  #384048;
	font-size: 18px;
	font-weight: 700;
	line-height: 24px;
}
.support__line {

}
.support__descriptor {

}
.support__btn {

	background-color:  #d2d5da;
	font-family: PTSansRegular;
	color:  #f5f5f5;
	font-size: 14px;
	border: none;
	display: inline-block;
	cursor: pointer;
	border-radius: 20px;
}
/* Styles for block "Support" end*/

/* Styles for block "Full" start*/
.full {

}
/* Left part*/
.full__left {
	float: left;
}
.full__left-pic {
	width: 181px;
	height: 138px;
}
.full__left-title {
	font-family: PTSansBold;
	color:  #40474e;
	font-size: 16px;
	font-weight: 700;
	line-height: 24px;
	text-transform: uppercase;
}
.full__left-descriptor {
	font-family: PTSansRegular;
	color:  #787b80;
	font-size: 14px;

}
.full__left-name {

}
/* Center part*/
.full__center {
float: left;
}
.full__center-pic {
	width: 181px;
	height: 138px;
}
.full__center-title {
	font-family: PTSansBold;
	color:  #40474e;
	font-size: 16px;
	font-weight: 700;
	line-height: 24px;
	text-transform: uppercase;
}
.full__center-descriptor {
	font-family: PTSansRegular;
	color:  #787b80;
	font-size: 14px;
}
.full__center-name {

}
/* Right part*/
.full__right {
	float: left;
}
.full__right-pic {
	width: 181px;
	height: 138px;
}
.full__right-title {
	font-family: PTSansBold;
	color:  #40474e;
	font-size: 16px;
	font-weight: 700;
	line-height: 24px;
	text-transform: uppercase;
}
.full__right-descriptor {
	font-family: PTSansRegular;
	color:  #787b80;
	font-size: 14px;
}
.full__right-name {

}
/* Styles for block "Full" end*/

/* Styles for block "Send" start*/
.send {

}
/* Left part*/
.send__left {
	float: left;
}
.send__icon-left {

}
.send__title-left {
	font-family: PTSansBold;
	color:  #40474e;
	font-size: 16px;
	font-weight: 700;
	line-height: 24px;
	text-transform: uppercase;
}
.send__descriptor-left {
	font-family: PTSansRegular;
	color:  #787b80;
	font-size: 14px;
}
.send__btn-left {
	font-family: PTSansRegular;
	color:  #f5f5f5;
	font-size: 14px;
	border: none;
	display: inline-block;
	cursor: pointer;
	border-radius: 20px;
	background-color:  #50c3af;
}
/* Right part*/
.send__right {
	float: right;
}
.send__icon-right {

}
.send__title-right {
	font-family: PTSansBold;
	color:  #40474e;
	font-size: 16px;
	font-weight: 700;
	line-height: 24px;
	text-transform: uppercase;
}
.send__descriptor-right {
	font-family: PTSansRegular;
	color:  #787b80;
	font-size: 14px;
}
.send__btn-right {
	font-family: PTSansRegular;
	color:  #f5f5f5;
	font-size: 14px;
	border: none;
	display: inline-block;
	cursor: pointer;
	border-radius: 20px;
	background-color:  #50c3af;
}
/* Styles for block "Send" end*/

/* Styles for block "Theme forest" start*/
/* Left part*/
.theme-forest {

}
.theme-forest__left {
	float: left;
}
.theme-forest__image {
	width: 264px;
	height: 208px;
}
/* Right part*/
.theme-forest__right {
	float: right;
}
.theme-forest__right-title {
	font-family: PTSansBold;
	color:  #40474e;
	font-size: 16px;
	font-weight: 700;
	line-height: 24px;
	text-transform: uppercase;
}
.theme-forest__right-line {
	width: 500px;
}
.theme-forest__right-descriptor {
	font-family: PTSansRegular;
	color:  #787b80;
	font-size: 14px;
}
.theme-forest__right-btn {
	font-family: PTSansRegular;
	color:  #f5f5f5;
	font-size: 14px;
	border: none;
	display: inline-block;
	cursor: pointer;
	border-radius: 20px;
	background-color:  #50c3af;
}
/* Styles for block "Theme forest" end*/

/* Styles for block "Response" start*/
.response {
	
}
.response__icon {

}
.response__title {

}
.response__line {

}
.response__they {

}
.response__they-techcrunch {

}
.response__they-promail {

}
.response__they-mashable {

}
.response__they-atlaspix {

}
/* Styles for block "Response" end*/ 

/* Styles for block "Footer" start*/
.footer {

}
.copy {
	float: left;
	font-family: PTSansRegular;
	color:  #787b80;
	font-size: 13px;
	text-align: left;
}
.social {
	float: right;
}
.social__icons-google {

}
.social__icons-facebook {

}
.social__icons-twitter {

}

/* Styles for block "Footer" end*/
