.body {
	background: #f5f5f5;
	display: flex;
	flex-direction: column;
}
.wrapper {
	flex-grow: 1;
}
.container {
	width: 800px;
	margin: 0 auto;
}
.header {
	background: url(../img/bg_head.png) no-repeat top center;
	background-size: auto;
	color: #fff;
	text-align: center;
	flex-direction: column;
	justify-content: center;
}
.header__logo {
	margin-top: auto;
}
.header__logo-image {
	margin-top: 65px;
	margin-bottom: 47px;
}
.header__navigation {
	margin-bottom: 79px;
}
.header__items {
	list-style-type: none;
	margin-top: auto;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}
.header__item {
	margin-right: 28px;
}
.header__name {
	text-decoration: none;
	font-family: OpenSans, sans-serif;
	text-transform: uppercase;
	color:#f5f5f5;
	font-size: 14px;
}
.header__title {
	margin-top: auto;
	text-align: center;
	margin-bottom: 43px;
	font-family: UbuntuBold, sans-serif;
	color: #f5f5f5;
	font-size: 53px;
	text-transform: uppercase;
}
.header__descriptor {
	margin-top: auto;
	text-align: center;
	margin-bottom: 83px;
	font-family: PTSansBold, sans-serif;
	color: #f5f5f5;
	font-size: 15px;
	text-transform: uppercase;
}
.header__btn {
	margin-top: auto;
	margin-bottom: 120px;
	background-color:  #50c3af;
	width: 235px;
	height: 48px;
	border: none;
	border-radius: 50px;
	color: #f5f5f5;
	font-family: PTSansBold, sans-serif;
	text-transform: uppercase;
	text-align: center;
	cursor: pointer;
}
/* ----------------------features---------------------*/
.features {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	background-color: rgba(234, 234, 235, 0.6);
}
.features__chapter {
	display: flex;
	flex-direction: column;
	justify-content: center;
    align-items: center;
    padding: 30px 0 30px 0;
	margin: 30px 0 30px 0;
}
.features__title {
	font-family: PTSansBold, sans-serif;
	color: #40474e;
	font-size: 15px;
	text-transform: uppercase;
}
.features__line {
	border: none;
	color: #E6E3F0;
	background-color: #E6E3F0;
	width: 135px;
	height: 2px;
}
.features__descriptor {
	font-family: PTSansRegular, sans-serif;
	color: #787b80;
	font-size: 13px;
	text-align: center;
}
/* ----------------------works---------------------*/
.works {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}
.works__chapter {
	padding: 30px 0 30px 0;
	margin: 30px 0 30px 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
    align-items: flex-start;
}
.works__image {
	padding-bottom: 21px;
}
.works__title {
	font-family: PTSansBold, sans-serif;
	color: #40474e;
	font-size: 18px;
	text-transform: uppercase;
}
.works__line {
	border: none;
	color: #E6E3F0;
	background-color: #E6E3F0;
	width: 290px;
	height: 2px;
}
.works__descriptor {
	font-family: PTSansRegular, sans-serif;
	color: #787b80;
	font-size: 13px;
	text-align: left;
	padding-bottom: 34px;
}
.works__btn {
	
	background-color: #50c3af;
	width: 98px;
	height: 35px;
	border: none;
	border-radius: 50px;
	color: #f5f5f5;
	font-size: 14px;
	font-family: PTSansRegular, sans-serif;
	text-align: center;
	cursor: pointer;
}

/* ----------------------support---------------------*/
.support {
	background-color: rgba(234, 234, 235, 0.6);
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	padding: 30px 0 30px 0;
	margin: 30px 0 30px 0;
}
.support__title {
	font-family: PTSansBold, sans-serif;
	color: #40474e;
	font-size: 18px;
	text-align: center;
	text-transform: uppercase;
}
.support__line {
	border: none;
	color: #E6E3F0;
	background-color:  rgba(41, 49, 57, 0.06);
	width: 531px;
	height: 2px;
}
.support__descriptor {
	font-family: PTSansRegular, sans-serif;
	color: #787b80;
	font-size: 13px;
	text-align: center;
	padding: 10px 0 25px 0;
}
.support__btn {
	background-color:  #d2d5da;
	width: 98px;
	height: 35px;
	border: none;
	border-radius: 50px;
	color: #f5f5f5;
	font-size: 14px;
	font-family: PTSansRegular, sans-serif;
	text-align: center;
	cursor: pointer;
}

/* ----------------------full---------------------*/
.full {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}
.full__chapter {
	padding: 30px 0 30px 0;
	margin: 30px 0 30px 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
    align-items: flex-start;
}
.full__pic {
	width: 181px;
	height: 138px;
}
.full__title {
	font-family: PTSansBold, sans-serif;
	color: #40474e;
	font-size: 18px;
	text-transform: uppercase;
}
.full__line {
	border: none;
	color: #E6E3F0;
	background-color:  rgba(41, 49, 57, 0.06);
	width: 182px;
	height: 2px;
}
.full__descriptor {
	font-family: PTSansRegular, sans-serif;
	color: #787b80;
	font-size: 13px;
	padding: 15px 0 25px 0;
}
.full__name {
	font-family: PTSansRegular, sans-serif;
	color: #50c3af;
	font-size: 14px;
	text-decoration: none;
}

/* ----------------------send---------------------*/
.send {
	background-color: rgba(234, 234, 235, 0.6);
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}
.send__chapter {
	padding: 30px 0 30px 0;
	margin: 30px 0 30px 0;
	flex-direction: column;
	display: flex;
	justify-content: flex-start;
	align-items: center;
}
.send__title {
	font-family: PTSansBold, sans-serif;
	color: #40474e;
	font-size: 18px;
	text-align: left;
	text-transform: uppercase;
}
.send__line {
	border: none;
	color: #E6E3F0;
	background-color:  rgba(41, 49, 57, 0.06);
	width: 251px;
	height: 2px;
}
.send__descriptor {
	font-family: PTSansRegular, sans-serif;
	color: #787b80;
	font-size: 13px;
	text-align: left;
	padding: 25px 0 25px 0;
}
.send__btn {
	background-color: #50c3af;
	width: 98px;
	height: 35px;
	border: none;
	border-radius: 50px;
	color: #f5f5f5;
	font-size: 14px;
	font-family: PTSansRegular, sans-serif;
	text-align: center;
	cursor: pointer;
}

/* ----------------------theme-forest---------------------*/
.theme-forest {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}
.theme-forest__chapter {
	padding: 30px 0 30px 0;
	margin: 30px 0 30px 0;
}
.theme-forest__image {
	width: 284px;
	height: 218px;
}
.theme-forest__title {
	font-family: PTSansBold, sans-serif;
	color: #40474e;
	font-size: 18px;
	text-align: left;
	text-transform: uppercase;
}
.theme-forest__line {
	border: none;
	color: #E6E3F0;
	background-color:  rgba(41, 49, 57, 0.06);
	width: 290px;
	height: 2px;
}
.theme-forest__descriptor {
	font-family: PTSansRegular, sans-serif;
	color: #787b80;
	font-size: 13px;
	text-align: left;
	padding-bottom: 28px;
}
.theme-forest__btn {
	background-color: #d2d5da;
	width: 98px;
	height: 35px;
	border: none;
	border-radius: 50px;
	color: #f5f5f5;
	font-size: 14px;
	font-family: PTSansRegular, sans-serif;
	text-align: center;
	cursor: pointer;
}

/* ----------------------response---------------------*/
.response {
	background-color: #50c3af;
}
.response__chapter {
	padding: 15px 0 15px 0;
	margin-top: 15px;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
}
.response__title {
	font-family: PTSansBold, sans-serif;
	color: #fff;
	font-size: 18px;
	text-transform: uppercase;
}
.response__line {
	border: none;
	color: #E6E3F0;
	background-color:  rgba(41, 49, 57, 0.06);
	width: 600px;
	height: 2px;
}
.response__techcrunch {
	margin-right: 50px;
	cursor: pointer;
}
.response__promail {
	margin-right: 50px;
	cursor: pointer;
}
.response__mashable {
	margin-right: 50px;
	cursor: pointer;
}
.response__atlaspix {
	cursor: pointer;
}
/* ----------------------footer---------------------*/
.footer {
	padding-top: 24px;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	margin-bottom: 20px;
}
.copy {
	font-family: PTSansRegular, sans-serif;
	font-size: 14px;
	color: #787b80;
	margin-right: auto;
}
.social {
	margin-left: auto;
}
.social__icons-google {
	margin-right: 3px;
	cursor: pointer;
}
.social__icons-facebook {
	margin-right: 3px;
	cursor: pointer;
}
.social__icons-twitter {
	margin-right: 3px;
	cursor: pointer;
}
