.container {

	width: 800px;
	margin: 0 auto;
}

.container-features:before {
    content:"";
    display: table;
}
.container-features:after {
    content:"";
    display: table;
    clear: both;
}

.features__chapter {
	float: left;
    width: 30%;
}